.List{
  width: 90%;
  margin: 0px auto;
}

.List ul{
    list-style: none;
    text-align: left;
    margin-top: 50px auto;
    padding-left: 0;

}

.List ul li{
  padding: 2px 20px;
  font-size: 18px;
  font-family: sans-serif;
  color: #878787;
  font-weight: lighter;
}

.List li span{
  font-weight: lighter;
}

.List button{
  width: 90px;
  border: 1px solid #878787;
  padding: 4.5px;
  font-size: 12px;
  cursor: pointer;
}

@media (min-width:765px) {
  .List ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }
}
