.ContainerCurrent{
  width: 90%;
  margin: 80px auto 0 auto;
  background: white;
  border-radius: 5px 5px 0 0;
  padding: 10px;
}

.ContainerForecast{
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  background: white;
  border-radius: 0px 0px 5px 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}



@media (min-width:765px ) {
  .ContainerCurrent,
  .ContainerForecast{
    max-width: 600px;
  }

  .ContainerForecast{
      grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  }
}

/* .Desc{
  border: 1px solid black;
} */
